/**
  * @file
  * Cellular Responsive sCSS framework
  *
  * @author
  * Adam Blankenship
*/
/**
  * @file
  // Cellular SASS mixins
  //    tread with caution
  //                      ^    ^
  //                     / \  //\
  //       |\___/|      /   \//  \
  //       /O  O  \__  /    //  | \
  //      /     /  \/_/    //   |  \
  //      @___@'    \/_   //    |   \
  //         |       \/_ //     |    \
  //         |        \///      |     \
  //        _|_ /   )  //       |      \
  //       '/,_ _ _/  ( ; -.    |    _ _\           .-~~~^-.
  //       ,-{        _      `-.|.-~-.           .~         `.
  //        '/\      /                 ~-. _ .-~      .-~^-.  \
  //           `.   {            }                   /      \  \
  //         .----~-.\        \-'                 .~   `      \  `. \^-_
  //        ///.----..>    c   \             _ -~             `.  ^-`  ^-_
  //          ///-._ _ _ _ _ _ _}^ - - - - ~                     ~--,___.-/
  //
  /////
*/
/**
  * @file
  * CSS Animations.
*/
/*--------------------------------------------*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/**
  * @file
  * CSS loading indicators.
  * http://codepen.io/TaniaLD/pen/oKxep
  * http://projects.lukehaas.me/css-loaders/
  * https://github.com/jh3y/whirl/
*/
/* Set true' or 'false' to include or exclude entire icon group. */
/* Select the icons to include:
  - Use only the base filename, .png or .svg will be added based on context
  - CSS class will be generated from the base filename.
  - Comment-out icons to remove them individually from the stylesheet.
*/
/**
  * @file
  * CSS Reset
*/
/* line 5, ../sass/style/_base_cssreset.scss */
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
blockquote,
th,
td,
dl,
dt,
dd,
ul,
ol,
li {
  position: relative;
  margin: 0;
  padding: 0;
}

/* line 36, ../sass/style/_base_cssreset.scss */
fieldset,
img {
  border: 0;
}

/**
  * @file
  * Base body style.
*/
/* line 6, ../sass/style/_base_body.scss */
html {
  background: #fefefe;
  overflow: auto;
  overflow-y: scroll;
}

/* line 13, ../sass/style/_base_body.scss */
body {
  float: left;
  width: 100%;
}

/**
  * @file
  * Fonts
*/
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local("Quicksand Regular"), local("Quicksand-Regular"), url("https://themes.googleusercontent.com/static/fonts/quicksand/v2/sKd0EMYPAh5PYCRKSryvWz8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: local("Quicksand Bold"), local("Quicksand-Bold"), url("https://themes.googleusercontent.com/static/fonts/quicksand/v2/32nyIRHyCu6iqEka_hbKsnhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
/**
  * @file
  * Typography
*/
/* line 6, ../sass/style/_base_typography.scss */
body {
  text-rendering: optimizeLegibility;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  font-family: sans-serif;
  font-family: SegoeUI, "Helvetica Neue", Helvetica, Arial, Roboto;
  line-height: 1.4em;
  color: #111;
}

/* line 16, ../sass/style/_base_typography.scss */
p {
  display: block;
  max-width: 32em;
  margin: 0 auto;
  padding: 0 1em 0.7em;
  color: #111;
}

/* line 24, ../sass/style/_base_typography.scss */
small {
  font-size: 0.75em;
}

/* line 28, ../sass/style/_base_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  clear: both;
  font-family: "Quicksand";
  font-weight: normal;
  line-height: 1.1em;
  margin: 1em auto .2em auto;
  padding: 0.4em .4em 0 1em;
}

/* line 43, ../sass/style/_base_typography.scss */
h1 {
  margin: 0;
  padding: 1.4em 1em 0.8em;
  font-size: 2.4em;
  text-align: center;
  color: #111;
  border: none;
}

/* line 52, ../sass/style/_base_typography.scss */
h2 {
  font-size: 1.92em;
  color: #bbbab7;
}

/* line 57, ../sass/style/_base_typography.scss */
h3 {
  font-size: 1.68em;
  color: #898883;
}

/* line 62, ../sass/style/_base_typography.scss */
h4 {
  font-size: 1.44em;
  color: #555451;
}

/* line 67, ../sass/style/_base_typography.scss */
h5 {
  font-size: 1.2em;
  color: #21201f;
}

/* line 72, ../sass/style/_base_typography.scss */
h6 {
  font-size: 0.96em;
  color: black;
}

/* line 77, ../sass/style/_base_typography.scss */
sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

/* line 85, ../sass/style/_base_typography.scss */
sup {
  top: -0.5em;
}

/* line 89, ../sass/style/_base_typography.scss */
sub {
  bottom: -0.25em;
}

/* line 93, ../sass/style/_base_typography.scss */
blockquote,
q,
quote {
  font-style: italic;
  color: #444444;
  background-color: #e5e5e5;
  color: #444444;
}
/* line 101, ../sass/style/_base_typography.scss */
blockquote:before,
q:before,
quote:before {
  content: "\201C";
}
/* line 104, ../sass/style/_base_typography.scss */
blockquote:after,
q:after,
quote:after {
  content: "\201D";
}

/* line 109, ../sass/style/_base_typography.scss */
q,
quote {
  font-size: 1.4em;
}

/* line 114, ../sass/style/_base_typography.scss */
blockquote {
  display: block;
  font-size: 1.8em;
  margin: 0.3em 1.4em;
  padding: 1em;
  border-left: 0.3em solid;
}

/* line 122, ../sass/style/_base_typography.scss */
caption {
  text-align: left;
}

/* line 126, ../sass/style/_base_typography.scss */
code {
  font-family: "Courier New", Courier, monospace;
}

/* line 130, ../sass/style/_base_typography.scss */
pre {
  display: block;
  margin: 1em auto;
  padding: 1em;
  overflow: scroll;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

/* line 141, ../sass/style/_base_typography.scss */
abbr,
acronym {
  border: 0;
  font-variant: small-caps;
  font-weight: bold;
}

/**
  * @file
  * Anchors / Links
*/
/* line 15, ../sass/style/_base_links.scss */
a {
  color: #29b4de;
  text-decoration: none;
  outline: none;
  transition: all 500ms ease-out;
}
/* line 22, ../sass/style/_base_links.scss */
a:visited {
  color: #20a5ce;
}
/* line 26, ../sass/style/_base_links.scss */
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: underline;
  color: #1982a2;
}

/**
  * @file
  * Lists
*/
/* line 6, ../sass/style/_base_lists.scss */
hr {
  margin: 1em 0;
  height: 1px;
  border: none;
  background-image: linear-gradient(to right, rgba(187, 186, 183, 0), rgba(187, 186, 183, 0.75), rgba(187, 186, 183, 0));
}

/* line 16, ../sass/style/_base_lists.scss */
ol,
ul,
dl {
  margin: 0 0 1em 1.4em;
  padding: 0;
  list-style-position: inside;
  width: auto;
}

/* line 25, ../sass/style/_base_lists.scss */
ol {
  counter-reset: olCount;
}
/* line 28, ../sass/style/_base_lists.scss */
ol > li {
  list-style: none;
}
/* line 31, ../sass/style/_base_lists.scss */
ol > li:before {
  counter-increment: olCount;
  content: counter(olCount);
  display: inline;
  display: inline-block;
  text-align: center;
  margin: 0 1em 0 0;
  line-height: 1.4em;
  width: 1.4em;
  height: 1.4em;
  color: #444444;
  background: #fefefe;
  border: thin solid;
  border-radius: 50%;
}

/* line 49, ../sass/style/_base_lists.scss */
ul {
  list-style-type: disc;
}

/* line 54, ../sass/style/_base_lists.scss */
li {
  width: auto;
  margin: 0.3em auto 0.6em;
  max-width: 28.8em;
}

/* line 60, ../sass/style/_base_lists.scss */
dt {
  margin: 0.75em 0 0;
  font-weight: bold;
}

/* line 68, ../sass/style/_base_lists.scss */
.inline {
  list-style: none;
  margin: auto;
}
/* line 72, ../sass/style/_base_lists.scss */
.inline li {
  display: inline;
}

/**
  * @file
  * Tables
*/
/* line 8, ../sass/style/_base_tables.scss */
table {
  margin: 0 auto;
  border-collapse: collapse;
}
/* line 12, ../sass/style/_base_tables.scss */
table img {
  display: inline;
  padding: 0;
}

/* line 18, ../sass/style/_base_tables.scss */
th,
thead {
  font-family: "Quicksand";
  font-weight: normal;
  font-size: 1em;
  text-align: center;
  color: #444444;
  border: #f1f1f1 1px solid;
}

/* line 28, ../sass/style/_base_tables.scss */
tr:nth-child(even) {
  background: #f1f1f1;
}

/* line 32, ../sass/style/_base_tables.scss */
tr:nth-child(odd) {
  background: #fefefe;
}

/* line 36, ../sass/style/_base_tables.scss */
td {
  padding: 0.3em;
  border: #f1f1f1 1px solid;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}

/* line 42, ../sass/style/_base_tables.scss */
tfoot {
  font-style: italic;
  text-align: center;
}

/**
  * @file
  * Form styling
*/
/* line 8, ../sass/style/_base_forms.scss */
form {
  display: block;
  max-width: 32em;
  margin: auto;
  padding: 0;
}
/* line 15, ../sass/style/_base_forms.scss */
form.horizontal {
  display: inline;
  max-width: none;
  padding: 0;
}
/* line 20, ../sass/style/_base_forms.scss */
form.horizontal label,
form.horizontal input {
  display: inline;
  clear: none;
}
/* line 26, ../sass/style/_base_forms.scss */
form.horizontal input[type="submit"] {
  margin: 0 0.3em;
  float: none;
  display: inline;
}
/* line 33, ../sass/style/_base_forms.scss */
form.vertical {
  text-align: center;
}
/* line 36, ../sass/style/_base_forms.scss */
form.vertical label,
form.vertical input[type="text"],
form.vertical input[type="email"],
form.vertical input[type="password"] {
  display: block;
}
/* line 43, ../sass/style/_base_forms.scss */
form.vertical input[type=submit] {
  float: none;
  margin: 0.3em auto;
}

/* line 50, ../sass/style/_base_forms.scss */
fieldset {
  padding: 0.3em;
  margin: 2em 0.3em 1em;
  border: #bbbab7 thin solid;
}

/* line 57, ../sass/style/_base_forms.scss */
legend {
  clear: both;
  zoom: 1;
  position: absolute;
  top: -1em;
  padding: 0 0.75em;
  font-family: "Quicksand";
  font-weight: normal;
  font-size: 1.4em;
  color: #bbbab7;
  background: #fefefe;
}
/* line 27, ../sass/_mixins/_cellularmixins.scss */
legend:after,
legend:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

/* line 70, ../sass/style/_base_forms.scss */
label {
  display: block;
  display: inline-block;
  font-family: "Quicksand";
  font-weight: normal;
  text-align: left;
  margin: 0.4em 0 0;
  padding: 1em 0.4em 0;
}

/* line 80, ../sass/style/_base_forms.scss */
input,
select,
textarea {
  display: inline;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  text-indent: 0.4em;
  font: 1em/1.6em SegoeUI, "Helvetica Neue", Helvetica, Arial, Roboto;
  font-size: 100%;
  border: #bbbab7 1px solid;
  width: auto;
  max-width: 100%;
  margin: auto;
  padding: 0.4em 0;
  color: #111;
  background: #fbfbfb;
  border-radius: 0.4em;
  transition: all 500ms ease-out;
}
/* line 100, ../sass/style/_base_forms.scss */
input:focus,
select:focus,
textarea:focus {
  outline: none;
  color: #111;
  background: #fefefe;
  box-shadow: 0 0 0.2em 0 #29b4de;
}
/* line 108, ../sass/style/_base_forms.scss */
input.year,
input.month,
input.day,
input.hour,
input.minute,
select.year,
select.month,
select.day,
select.hour,
select.minute,
textarea.year,
textarea.month,
textarea.day,
textarea.hour,
textarea.minute {
  width: auto;
}

/* line 117, ../sass/style/_base_forms.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 123, ../sass/style/_base_forms.scss */
select {
  cursor: pointer;
  margin: 0.4em auto;
  padding: 0.4em;
  text-indent: unset;
}

/* line 130, ../sass/style/_base_forms.scss */
optgroup {
  background: #f1f1f1;
}

/* line 134, ../sass/style/_base_forms.scss */
option {
  border-bottom: #bbbab7 thin dotted;
}
/* line 137, ../sass/style/_base_forms.scss */
option:focus {
  outline: none;
}

/* line 144, ../sass/style/_base_forms.scss */
input.required,
input[required] {
  box-shadow: 0 0 0.1em 0 #29b4de;
}
/* line 153, ../sass/style/_base_forms.scss */
input[type="hidden"] {
  display: none;
}
/* line 157, ../sass/style/_base_forms.scss */
input[type="file"] {
  width: auto;
}
/* line 160, ../sass/style/_base_forms.scss */
input[type="file"]:host(input) {
  margin: 0.1em 1em;
}
/* line 165, ../sass/style/_base_forms.scss */
input[type="image"] {
  width: auto;
  border: none;
}
/* line 97, ../sass/_mixins/_cellularmixins.scss */
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -999em;
}
/* line 102, ../sass/_mixins/_cellularmixins.scss */
input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label,
input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  z-index: 1;
  position: relative;
  float: left;
  cursor: pointer;
  padding: 0 2.4em 0 0;
  vertical-align: middle;
  text-indent: 2.16em;
}
/* line 111, ../sass/_mixins/_cellularmixins.scss */
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:before,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:before,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:before,
input[type="radio"]:not(:checked) + label:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
}
/* line 122, ../sass/_mixins/_cellularmixins.scss */
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before,
input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  background: #f9f9f9;
  border: #bbbab7 thin solid;
  box-shadow: inset 0 0 1px 1px #f1f1f1;
}
/* line 127, ../sass/_mixins/_cellularmixins.scss */
input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after,
input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  background-image: url("../assets/icons/png/input_sprite.png");
  background-image: url("../assets/icons/svg/input_sprite.svg");
  background-size: 6em;
  background-repeat: no-repeat;
  background-position: -999em;
}
/* line 143, ../sass/_mixins/_cellularmixins.scss */
input[type="checkbox"]:checked:disabled + label,
input[type="checkbox"]:not(:checked):disabled + label,
input[type="radio"]:checked:disabled + label,
input[type="radio"]:not(:checked):disabled + label {
  color: #f1f1f1;
}
/* line 145, ../sass/_mixins/_cellularmixins.scss */
input[type="checkbox"]:checked:disabled + label:before,
input[type="checkbox"]:not(:checked):disabled + label:before,
input[type="radio"]:checked:disabled + label:before,
input[type="radio"]:not(:checked):disabled + label:before {
  background: #f1f1f1;
  color: #444444;
}
/* line 185, ../sass/style/_base_forms.scss */
input[type="checkbox"] + label:before {
  border-radius: 0.3em;
}
/* line 190, ../sass/style/_base_forms.scss */
input[type="checkbox"]:checked + label:after {
  background-position: -2.4em 1px;
}
/* line 198, ../sass/style/_base_forms.scss */
input[type=radio] + label:before {
  border-radius: 50%;
}
/* line 203, ../sass/style/_base_forms.scss */
input[type=radio]:checked + label:after {
  background-position: 1px 1px;
}
/* line 213, ../sass/style/_base_forms.scss */
input[type=range] {
  width: 100%;
  -webkit-appearance: none;
  /* Hide default slider */
}
/* line 217, ../sass/style/_base_forms.scss */
input[type=range]:focus {
  outline: none;
}
/* line 221, ../sass/style/_base_forms.scss */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
/* line 224, ../sass/style/_base_forms.scss */
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  /* Hides the slider so custom styles can be added */
  border-color: transparent;
  color: transparent;
}

/* line 235, ../sass/style/_base_forms.scss */
button,
.button,
input[type="button"],
input[type="submit"] {
  display: block;
}
/* line 172, ../sass/_mixins/_cellularmixins.scss */
button,
.button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
  width: auto;
  margin: 0.3em auto;
  padding: 0.75em 1em;
  text-align: center;
  font-family: "Quicksand";
  font-weight: bold;
  line-height: normal;
  border: #444444 2px solid;
  color: #444444;
  background-color: #fefefe;
  border-radius: 0.1em;
  box-shadow: #cbcbcb 0 0.1em 0.75em;
}
/* line 193, ../sass/_mixins/_cellularmixins.scss */
button:visited,
.button:visited,
input[type="button"]:visited,
input[type="submit"]:visited {
  color: #444444;
  background-color: #fefefe;
}
/* line 197, ../sass/_mixins/_cellularmixins.scss */
button.active,
button:active,
.button.active,
.button:active,
input[type="button"].active,
input[type="button"]:active,
input[type="submit"].active,
input[type="submit"]:active {
  cursor: default;
}
/* line 201, ../sass/_mixins/_cellularmixins.scss */
button.active,
button:active,
button:hover,
.button.active,
.button:active,
.button:hover,
input[type="button"].active,
input[type="button"]:active,
input[type="button"]:hover,
input[type="submit"].active,
input[type="submit"]:active,
input[type="submit"]:hover {
  outline: none;
  text-decoration: none;
  border-color: #5e5e5e;
  border-color: #29b4de;
  box-shadow: #cbcbcb 0 0.1em 0.4em;
}

/* line 243, ../sass/style/_base_forms.scss */
input[type="button"],
input[type="submit"] {
  display: inline-block;
  margin-bottom: 1em;
}

/* line 249, ../sass/style/_base_forms.scss */
.ok,
.warning,
.error {
  font-weight: bold;
  border: .2em solid;
  border-radius: 0.4em;
}

/* line 257, ../sass/style/_base_forms.scss */
.ok {
  color: #61d43f;
  background-color: white;
  border-color: #61d43f;
}

/* line 263, ../sass/style/_base_forms.scss */
.warning {
  color: #ec2;
  background-color: white;
  border-color: #ec2;
}

/* line 269, ../sass/style/_base_forms.scss */
.error {
  color: #8c0d00;
  background-color: #ffdcd9;
  border-color: #8c0d00;
}

/**
  * @file
  * Media
*/
/* line 6, ../sass/style/_base_media.scss */
img,
object {
  display: inline;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  height: auto;
}

/* line 16, ../sass/style/_base_media.scss */
a img {
  border: none;
  outline: none;
}

/* line 22, ../sass/style/_base_media.scss */
.iframe-wrap {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
/* line 28, ../sass/style/_base_media.scss */
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
  * @file
  * Cellular Grid
*/
/* line 9, ../sass/style/_base_grid.scss */
.cell,
.cell-100,
.cell-90,
.cell-80,
.cell-75,
.cell-70,
.cell-60,
.cell-50,
.cell-40,
.cell-30,
.cell-25,
.cell-20,
.cell-10,
.cell-33,
.cell-66 {
  z-index: 1;
  position: relative;
  float: left;
  display: block;
  margin: 0%;
  padding: 0%;
  transition: all 500ms ease-out;
}
/* line 21, ../sass/style/_base_grid.scss */
.cell.center,
.cell-100.center,
.cell-90.center,
.cell-80.center,
.cell-75.center,
.cell-70.center,
.cell-60.center,
.cell-50.center,
.cell-40.center,
.cell-30.center,
.cell-25.center,
.cell-20.center,
.cell-10.center,
.cell-33.center,
.cell-66.center {
  margin: 0% auto;
}

/* line 26, ../sass/style/_base_grid.scss */
.cell {
  width: 100%;
  clear: both;
  zoom: 1;
}
/* line 27, ../sass/_mixins/_cellularmixins.scss */
.cell:after,
.cell:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

/* line 50, ../sass/style/_base_grid.scss */
.cell-100 {
  width: 100%;
}

/* line 54, ../sass/style/_base_grid.scss */
.offset-100 {
  margin-left: 100%;
}

/* line 50, ../sass/style/_base_grid.scss */
.cell-90 {
  width: 90%;
}

/* line 54, ../sass/style/_base_grid.scss */
.offset-90 {
  margin-left: 90%;
}

/* line 50, ../sass/style/_base_grid.scss */
.cell-80 {
  width: 80%;
}

/* line 54, ../sass/style/_base_grid.scss */
.offset-80 {
  margin-left: 80%;
}

/* line 50, ../sass/style/_base_grid.scss */
.cell-75 {
  width: 75%;
}

/* line 54, ../sass/style/_base_grid.scss */
.offset-75 {
  margin-left: 75%;
}

/* line 50, ../sass/style/_base_grid.scss */
.cell-70 {
  width: 70%;
}

/* line 54, ../sass/style/_base_grid.scss */
.offset-70 {
  margin-left: 70%;
}

/* line 50, ../sass/style/_base_grid.scss */
.cell-60 {
  width: 60%;
}

/* line 54, ../sass/style/_base_grid.scss */
.offset-60 {
  margin-left: 60%;
}

/* line 50, ../sass/style/_base_grid.scss */
.cell-50 {
  width: 50%;
}

/* line 54, ../sass/style/_base_grid.scss */
.offset-50 {
  margin-left: 50%;
}

/* line 50, ../sass/style/_base_grid.scss */
.cell-40 {
  width: 40%;
}

/* line 54, ../sass/style/_base_grid.scss */
.offset-40 {
  margin-left: 40%;
}

/* line 50, ../sass/style/_base_grid.scss */
.cell-30 {
  width: 30%;
}

/* line 54, ../sass/style/_base_grid.scss */
.offset-30 {
  margin-left: 30%;
}

/* line 50, ../sass/style/_base_grid.scss */
.cell-25 {
  width: 25%;
}

/* line 54, ../sass/style/_base_grid.scss */
.offset-25 {
  margin-left: 25%;
}

/* line 50, ../sass/style/_base_grid.scss */
.cell-20 {
  width: 20%;
}

/* line 54, ../sass/style/_base_grid.scss */
.offset-20 {
  margin-left: 20%;
}

/* line 50, ../sass/style/_base_grid.scss */
.cell-10 {
  width: 10%;
}

/* line 54, ../sass/style/_base_grid.scss */
.offset-10 {
  margin-left: 10%;
}

/* Add in any quirky widths that can't be looped */
/* line 69, ../sass/style/_base_grid.scss */
.cell-33 {
  width: 33.33333%;
}

/* line 70, ../sass/style/_base_grid.scss */
.cell-66 {
  width: 66.66667%;
}

/* line 71, ../sass/style/_base_grid.scss */
.offset-33 {
  margin-left: 33.33333%;
}

/* line 72, ../sass/style/_base_grid.scss */
.offset-66 {
  margin-left: 66.66667%;
}

/* line 107, ../sass/style/_base_grid.scss */
.container {
  float: none;
  width: 96%;
  max-width: 72em;
  margin: auto;
}

@media screen and (max-width: 650px) and (min-width: 0) {
  /* line 116, ../sass/style/_base_grid.scss */
  .cell-100,
  .cell-90,
  .cell-80,
  .cell-75,
  .cell-70,
  .cell-60,
  .cell-50,
  .cell-40,
  .cell-30,
  .cell-25,
  .cell-20,
  .cell-10,
  .cell-33,
  .cell-66 {
    width: 100%;
  }

  /* line 126, ../sass/style/_base_grid.scss */
  .offset-100,
  .offset-90,
  .offset-80,
  .offset-75,
  .offset-70,
  .offset-60,
  .offset-50,
  .offset-40,
  .offset-30,
  .offset-25,
  .offset-20,
  .offset-10,
  .offset-33,
  .offset-66 {
    margin-left: 0%;
  }
}
/* line 136, ../sass/style/_base_grid.scss */
.hidden {
  position: absolute;
  left: -9999px;
}

/* line 141, ../sass/style/_base_grid.scss */
.clearfix {
  clear: both;
  zoom: 1;
}
/* line 27, ../sass/_mixins/_cellularmixins.scss */
.clearfix:after,
.clearfix:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

/* line 145, ../sass/style/_base_grid.scss */
hr.clearfix {
  visibility: hidden;
  margin: 0;
  padding: 0;
}

/* line 151, ../sass/style/_base_grid.scss */
.left,
.right,
.center {
  display: block;
}

/* line 157, ../sass/style/_base_grid.scss */
.left {
  float: left;
}

/* line 161, ../sass/style/_base_grid.scss */
.right {
  float: right;
}

/* line 165, ../sass/style/_base_grid.scss */
.center {
  float: none;
  margin: 0% auto;
  clear: both;
  zoom: 1;
}
/* line 27, ../sass/_mixins/_cellularmixins.scss */
.center:after,
.center:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

/**
  * @file
  * Base body style.
*/
@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/**
  * @file
  * Content region styles
*/
/* line 6, ../sass/style/_region_wrappers.scss */
#page-wrap {
  padding-top: 96px;
}

/**
  * @file
  * Content region styles
*/
/* line 6, ../sass/style/_region_header.scss */
#header {
  position: fixed;
  top: 0;
  left: 0;
  height: 96px;
  background: #fefefe;
  z-index: 10;
  box-shadow: 0 0 1em 0.1em #444444;
}

/* line 16, ../sass/style/_region_header.scss */
#header-top {
  z-index: 4;
  background: #111;
  color: #fefefe;
  border-bottom: #111 thin solid;
  text-align: right;
}
/* line 25, ../sass/style/_region_header.scss */
#header-top div {
  display: inline;
}
/* line 29, ../sass/style/_region_header.scss */
#header-top h2,
#header-top h3,
#header-top h4 {
  color: #fefefe;
  font-size: 1em;
  display: inline;
}

/* line 38, ../sass/style/_region_header.scss */
#header-bottom {
  background-color: #444444;
  color: #fefefe;
}

/**
  * @file
  * Primary #main-menu styling
*/
/* line 11, ../sass/style/_region_navigation.scss */
#main-menu {
  position: absolute;
  top: 2em;
  right: 0;
  margin: 0 0 0 15%;
  padding: 0;
  transition: all 500ms ease-out;
}
/* line 20, ../sass/style/_region_navigation.scss */
#main-menu a,
#main-menu a:visited {
  z-index: 2;
  display: block;
  margin: 0;
  padding: .4em .8em;
  font-family: "Quicksand";
  font-size: 1em;
  text-align: left;
  font-weight: normal;
  white-space: nowrap;
  text-decoration: none;
  color: #bbbab7;
  background: #fefefe;
  box-shadow: #bbbab7 0 0.1em 0.25em;
  border: none;
  border-radius: unset;
}
/* line 39, ../sass/style/_region_navigation.scss */
#main-menu a:hover,
#main-menu a:focus,
#main-menu a:active,
#main-menu a.active,
#main-menu a:visited:hover,
#main-menu a:visited:focus,
#main-menu a:visited:active,
#main-menu a:visited.active {
  text-decoration: none;
  background: #29b4de;
  color: #fefefe;
}
/* line 53, ../sass/style/_region_navigation.scss */
#main-menu > li:first-child {
  margin-left: 0;
}
/* line 57, ../sass/style/_region_navigation.scss */
#main-menu > li:last-child {
  margin-right: 0;
}
/* line 61, ../sass/style/_region_navigation.scss */
#main-menu > li.parent:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 0.6em solid #bbbab7;
}
/* line 66, ../sass/style/_region_navigation.scss */
#main-menu > li.parent:after:hover {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 0.6em solid #29b4de;
}
/* line 73, ../sass/style/_region_navigation.scss */
#main-menu li {
  float: left;
  display: block;
  width: auto;
  max-width: none;
  list-style: none;
  margin: 0 .5em;
  padding: 0;
}
/* line 83, ../sass/style/_region_navigation.scss */
#main-menu li ul {
  z-index: 1;
  position: absolute;
  top: 2.2em;
  margin: 0;
  overflow: hidden;
  max-height: 0;
  background: #f1f1f1;
  background: rgba(241, 241, 241, 0.9);
  color: #bbbab7;
  border: none;
  transition: all 500ms ease-out;
  right: 0;
  padding: 0 0.1em 0 0;
  text-align: right;
}
/* line 108, ../sass/style/_region_navigation.scss */
#main-menu li ul.active {
  overflow: visible;
}
/* line 118, ../sass/style/_region_navigation.scss */
#main-menu li:focus > ul,
#main-menu li:hover > ul,
#main-menu li.active > ul {
  max-height: 20em;
  transition: all 500ms ease-out;
}
/* line 124, ../sass/style/_region_navigation.scss */
#main-menu li li {
  float: none;
  width: 100%;
  margin: 0 0 0.1em 0;
  padding: 0;
  border: none;
}
/* line 131, ../sass/style/_region_navigation.scss */
#main-menu li li ul {
  max-height: unset;
  top: 0;
  width: 0;
  left: initial;
  right: 100%;
}
/* line 148, ../sass/style/_region_navigation.scss */
#main-menu li li.active > ul,
#main-menu li li:focus > ul,
#main-menu li li:hover > ul {
  width: 100%;
}
/* line 155, ../sass/style/_region_navigation.scss */
#main-menu li.parent:after {
  position: absolute;
  bottom: 0;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
/* line 160, ../sass/style/_region_navigation.scss */
#main-menu li.parent:after:hover {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}

/**
  * @file
  * Content region styles
*/
/* line 6, ../sass/style/_region_content.scss */
#content {
  z-index: 1;
  background: #fefefe;
}

/* line 19, ../sass/style/_region_content.scss */
.messages {
  padding: 1em 1.4em;
}

/**
  * @file
  * Content region styles
*/
/* line 6, ../sass/style/_region_footer.scss */
#footer {
  z-index: 1;
  margin: 5em 0 0 0;
  background: #444444;
  color: #fefefe;
}
/* line 12, ../sass/style/_region_footer.scss */
#footer p {
  color: #fefefe;
}

/* line 17, ../sass/style/_region_footer.scss */
#footer-top {
  font-size: 0.75em;
  background: #444444;
  color: #f1f1f1;
}

/* line 24, ../sass/style/_region_footer.scss */
#footer-bottom {
  font-size: 0.75em;
  background: #444444;
  color: #f1f1f1;
  border-top: thin solid;
}

/* line 31, ../sass/style/_region_footer.scss */
#copyright {
  display: block;
  padding: 0.75em 1.4em 0.75em;
  text-align: right;
}

/**
  * @file
  * General styling for icons.
*/
/* line 6, ../sass/style/_style_icons.scss */
.icon {
  display: inline;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  padding: 0 0 0 2.2em;
  vertical-align: middle;
  background-position: left center;
  background-repeat: no-repeat;
  background-color: none;
}
/* line 18, ../sass/style/_style_icons.scss */
.icon:hover {
  border-color: #29b4de;
}
/* line 22, ../sass/style/_style_icons.scss */
.icon.search {
  text-indent: 0;
}

/* Iterate over lists of icons to include. */
/* line 31, ../sass/style/_style_icons.scss */
.icon.behance {
  background-image: url("../assets/icons/png/behance.png");
  background-image: url("../assets/icons/svg/behance.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.blogger {
  background-image: url("../assets/icons/png/blogger.png");
  background-image: url("../assets/icons/svg/blogger.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.delicious {
  background-image: url("../assets/icons/png/delicious.png");
  background-image: url("../assets/icons/svg/delicious.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.deviantart {
  background-image: url("../assets/icons/png/deviantart.png");
  background-image: url("../assets/icons/svg/deviantart.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.digg {
  background-image: url("../assets/icons/png/digg.png");
  background-image: url("../assets/icons/svg/digg.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.facebook {
  background-image: url("../assets/icons/png/facebook.png");
  background-image: url("../assets/icons/svg/facebook.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.flickr {
  background-image: url("../assets/icons/png/flickr.png");
  background-image: url("../assets/icons/svg/flickr.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.github-octo {
  background-image: url("../assets/icons/png/github-octo.png");
  background-image: url("../assets/icons/svg/github-octo.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.google {
  background-image: url("../assets/icons/png/google.png");
  background-image: url("../assets/icons/svg/google.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.grooveshark {
  background-image: url("../assets/icons/png/grooveshark.png");
  background-image: url("../assets/icons/svg/grooveshark.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.hi5 {
  background-image: url("../assets/icons/png/hi5.png");
  background-image: url("../assets/icons/svg/hi5.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.linkedin {
  background-image: url("../assets/icons/png/linkedin.png");
  background-image: url("../assets/icons/svg/linkedin.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.myspace {
  background-image: url("../assets/icons/png/myspace.png");
  background-image: url("../assets/icons/svg/myspace.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.pinterest {
  background-image: url("../assets/icons/png/pinterest.png");
  background-image: url("../assets/icons/svg/pinterest.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.reddit {
  background-image: url("../assets/icons/png/reddit.png");
  background-image: url("../assets/icons/svg/reddit.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.rss {
  background-image: url("../assets/icons/png/rss.png");
  background-image: url("../assets/icons/svg/rss.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.skype {
  background-image: url("../assets/icons/png/skype.png");
  background-image: url("../assets/icons/svg/skype.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.slashdot {
  background-image: url("../assets/icons/png/slashdot.png");
  background-image: url("../assets/icons/svg/slashdot.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.soundcloud {
  background-image: url("../assets/icons/png/soundcloud.png");
  background-image: url("../assets/icons/svg/soundcloud.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.stackoverflow {
  background-image: url("../assets/icons/png/stackoverflow.png");
  background-image: url("../assets/icons/svg/stackoverflow.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.stumbleupon {
  background-image: url("../assets/icons/png/stumbleupon.png");
  background-image: url("../assets/icons/svg/stumbleupon.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.technorati {
  background-image: url("../assets/icons/png/technorati.png");
  background-image: url("../assets/icons/svg/technorati.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.tumblr {
  background-image: url("../assets/icons/png/tumblr.png");
  background-image: url("../assets/icons/svg/tumblr.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.twitter {
  background-image: url("../assets/icons/png/twitter.png");
  background-image: url("../assets/icons/svg/twitter.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.twitter-t {
  background-image: url("../assets/icons/png/twitter-t.png");
  background-image: url("../assets/icons/svg/twitter-t.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.yelp {
  background-image: url("../assets/icons/png/yelp.png");
  background-image: url("../assets/icons/svg/yelp.svg");
}

/* line 31, ../sass/style/_style_icons.scss */
.icon.youtube {
  background-image: url("../assets/icons/png/youtube.png");
  background-image: url("../assets/icons/svg/youtube.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.arrow-up {
  background-image: url("../assets/icons/png/arrow-up.png");
  background-image: url("../assets/icons/svg/arrow-up.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.arrow-right {
  background-image: url("../assets/icons/png/arrow-right.png");
  background-image: url("../assets/icons/svg/arrow-right.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.arrow-down {
  background-image: url("../assets/icons/png/arrow-down.png");
  background-image: url("../assets/icons/svg/arrow-down.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.arrow-left {
  background-image: url("../assets/icons/png/arrow-left.png");
  background-image: url("../assets/icons/svg/arrow-left.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.mail {
  background-image: url("../assets/icons/png/mail.png");
  background-image: url("../assets/icons/svg/mail.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.mail2 {
  background-image: url("../assets/icons/png/mail2.png");
  background-image: url("../assets/icons/svg/mail2.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.menu {
  background-image: url("../assets/icons/png/menu.png");
  background-image: url("../assets/icons/svg/menu.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.message-error {
  background-image: url("../assets/icons/png/message-error.png");
  background-image: url("../assets/icons/svg/message-error.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.message-ok {
  background-image: url("../assets/icons/png/message-ok.png");
  background-image: url("../assets/icons/svg/message-ok.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.message-warning {
  background-image: url("../assets/icons/png/message-warning.png");
  background-image: url("../assets/icons/svg/message-warning.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.audio {
  background-image: url("../assets/icons/png/audio.png");
  background-image: url("../assets/icons/svg/audio.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.camera {
  background-image: url("../assets/icons/png/camera.png");
  background-image: url("../assets/icons/svg/camera.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.cart {
  background-image: url("../assets/icons/png/cart.png");
  background-image: url("../assets/icons/svg/cart.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.chat {
  background-image: url("../assets/icons/png/chat.png");
  background-image: url("../assets/icons/svg/chat.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.cloud {
  background-image: url("../assets/icons/png/cloud.png");
  background-image: url("../assets/icons/svg/cloud.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.doc {
  background-image: url("../assets/icons/png/doc.png");
  background-image: url("../assets/icons/svg/doc.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.email {
  background-image: url("../assets/icons/png/email.png");
  background-image: url("../assets/icons/svg/email.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.eye {
  background-image: url("../assets/icons/png/eye.png");
  background-image: url("../assets/icons/svg/eye.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.film {
  background-image: url("../assets/icons/png/film.png");
  background-image: url("../assets/icons/svg/film.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.folder {
  background-image: url("../assets/icons/png/folder.png");
  background-image: url("../assets/icons/svg/folder.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.gear {
  background-image: url("../assets/icons/png/gear.png");
  background-image: url("../assets/icons/svg/gear.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.heart {
  background-image: url("../assets/icons/png/heart.png");
  background-image: url("../assets/icons/svg/heart.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.heart_sprite {
  background-image: url("../assets/icons/png/heart_sprite.png");
  background-image: url("../assets/icons/svg/heart_sprite.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.home {
  background-image: url("../assets/icons/png/home.png");
  background-image: url("../assets/icons/svg/home.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.key {
  background-image: url("../assets/icons/png/key.png");
  background-image: url("../assets/icons/svg/key.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.lock {
  background-image: url("../assets/icons/png/lock.png");
  background-image: url("../assets/icons/svg/lock.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.minus {
  background-image: url("../assets/icons/png/minus.png");
  background-image: url("../assets/icons/svg/minus.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.pdf {
  background-image: url("../assets/icons/png/pdf.png");
  background-image: url("../assets/icons/svg/pdf.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.phone {
  background-image: url("../assets/icons/png/phone.png");
  background-image: url("../assets/icons/svg/phone.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.phone2 {
  background-image: url("../assets/icons/png/phone2.png");
  background-image: url("../assets/icons/svg/phone2.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.picture {
  background-image: url("../assets/icons/png/picture.png");
  background-image: url("../assets/icons/svg/picture.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.plus {
  background-image: url("../assets/icons/png/plus.png");
  background-image: url("../assets/icons/svg/plus.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.print {
  background-image: url("../assets/icons/png/print.png");
  background-image: url("../assets/icons/svg/print.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.search {
  background-image: url("../assets/icons/png/search.png");
  background-image: url("../assets/icons/svg/search.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.spreadsheet {
  background-image: url("../assets/icons/png/spreadsheet.png");
  background-image: url("../assets/icons/svg/spreadsheet.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.star {
  background-image: url("../assets/icons/png/star.png");
  background-image: url("../assets/icons/svg/star.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.star_sprite {
  background-image: url("../assets/icons/png/star_sprite.png");
  background-image: url("../assets/icons/svg/star_sprite.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.user {
  background-image: url("../assets/icons/png/user.png");
  background-image: url("../assets/icons/svg/user.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.user-social {
  background-image: url("../assets/icons/png/user-social.png");
  background-image: url("../assets/icons/svg/user-social.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.video {
  background-image: url("../assets/icons/png/video.png");
  background-image: url("../assets/icons/svg/video.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.wrench {
  background-image: url("../assets/icons/png/wrench.png");
  background-image: url("../assets/icons/svg/wrench.svg");
}

/* line 39, ../sass/style/_style_icons.scss */
.icon.zip {
  background-image: url("../assets/icons/png/zip.png");
  background-image: url("../assets/icons/svg/zip.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.android {
  background-image: url("../assets/icons/png/android.png");
  background-image: url("../assets/icons/svg/android.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.angular {
  background-image: url("../assets/icons/png/angular.png");
  background-image: url("../assets/icons/svg/angular.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.apple {
  background-image: url("../assets/icons/png/apple.png");
  background-image: url("../assets/icons/svg/apple.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.creativecommons {
  background-image: url("../assets/icons/png/creativecommons.png");
  background-image: url("../assets/icons/svg/creativecommons.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.chrome {
  background-image: url("../assets/icons/png/chrome.png");
  background-image: url("../assets/icons/svg/chrome.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.css3 {
  background-image: url("../assets/icons/png/css3.png");
  background-image: url("../assets/icons/svg/css3.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.desktop {
  background-image: url("../assets/icons/png/desktop.png");
  background-image: url("../assets/icons/svg/desktop.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.drupal {
  background-image: url("../assets/icons/png/drupal.png");
  background-image: url("../assets/icons/svg/drupal.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.firefox {
  background-image: url("../assets/icons/png/firefox.png");
  background-image: url("../assets/icons/svg/firefox.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.globe {
  background-image: url("../assets/icons/png/globe.png");
  background-image: url("../assets/icons/svg/globe.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.html5 {
  background-image: url("../assets/icons/png/html5.png");
  background-image: url("../assets/icons/svg/html5.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.internetexplorer {
  background-image: url("../assets/icons/png/internetexplorer.png");
  background-image: url("../assets/icons/svg/internetexplorer.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.jquery {
  background-image: url("../assets/icons/png/jquery.png");
  background-image: url("../assets/icons/svg/jquery.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.js {
  background-image: url("../assets/icons/png/js.png");
  background-image: url("../assets/icons/svg/js.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.laptop {
  background-image: url("../assets/icons/png/laptop.png");
  background-image: url("../assets/icons/svg/laptop.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.linux {
  background-image: url("../assets/icons/png/linux.png");
  background-image: url("../assets/icons/svg/linux.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.mac {
  background-image: url("../assets/icons/png/mac.png");
  background-image: url("../assets/icons/svg/mac.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.mobile {
  background-image: url("../assets/icons/png/mobile.png");
  background-image: url("../assets/icons/svg/mobile.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.opera {
  background-image: url("../assets/icons/png/opera.png");
  background-image: url("../assets/icons/svg/opera.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.safari {
  background-image: url("../assets/icons/png/safari.png");
  background-image: url("../assets/icons/svg/safari.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.w3 {
  background-image: url("../assets/icons/png/w3.png");
  background-image: url("../assets/icons/svg/w3.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.windows {
  background-image: url("../assets/icons/png/windows.png");
  background-image: url("../assets/icons/svg/windows.svg");
}

/* line 47, ../sass/style/_style_icons.scss */
.icon.wordpress {
  background-image: url("../assets/icons/png/wordpress.png");
  background-image: url("../assets/icons/svg/wordpress.svg");
}

/**
  * @file
  * CellularUI
  * Set default UI styles common to all components.
*/
/* Variables specific to UI */
/* Styling common to all UI components */
/* line 19, ../sass/cellular-ui/_Cellular.scss */
.cellular .jAccordion,
.cellular .jBlocklink,
.cellular .jMmenu,
.cellular .jTabs {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  animation: fadein 1200ms;
}
/* line 30, ../sass/cellular-ui/_Cellular.scss */
.cellular .jAccordion li,
.cellular .jBlocklink li,
.cellular .jMmenu li,
.cellular .jTabs li {
  margin: 0 auto;
  padding: 0;
  max-width: 90%;
}
/* line 36, ../sass/cellular-ui/_Cellular.scss */
.cellular .jAccordion .title,
.cellular .jBlocklink .title,
.cellular .jMmenu .title,
.cellular .jTabs .title {
  cursor: pointer;
  display: block;
  margin: 0;
  max-width: 100%;
  padding: .6em 1em;
  background-color: #444444;
  color: #fefefe;
  z-index: 2;
  transition: all 500ms ease-out;
}
/* line 47, ../sass/cellular-ui/_Cellular.scss */
.cellular .jAccordion .title:hover,
.cellular .jBlocklink .title:hover,
.cellular .jMmenu .title:hover,
.cellular .jTabs .title:hover {
  color: #fefefe;
  background-color: #1c94b8;
}
/* line 52, ../sass/cellular-ui/_Cellular.scss */
.cellular .jAccordion .title a,
.cellular .jAccordion .title a:visited,
.cellular .jBlocklink .title a,
.cellular .jBlocklink .title a:visited,
.cellular .jMmenu .title a,
.cellular .jMmenu .title a:visited,
.cellular .jTabs .title a,
.cellular .jTabs .title a:visited {
  font-weight: bold;
  line-height: 1.4em;
  text-decoration: none;
  color: #fefefe;
  border: none;
}
/* line 60, ../sass/cellular-ui/_Cellular.scss */
.cellular .jAccordion .title a:hover,
.cellular .jAccordion .title a:active,
.cellular .jAccordion .title a.active,
.cellular .jAccordion .title a:visited:hover,
.cellular .jAccordion .title a:visited:active,
.cellular .jAccordion .title a:visited.active,
.cellular .jBlocklink .title a:hover,
.cellular .jBlocklink .title a:active,
.cellular .jBlocklink .title a.active,
.cellular .jBlocklink .title a:visited:hover,
.cellular .jBlocklink .title a:visited:active,
.cellular .jBlocklink .title a:visited.active,
.cellular .jMmenu .title a:hover,
.cellular .jMmenu .title a:active,
.cellular .jMmenu .title a.active,
.cellular .jMmenu .title a:visited:hover,
.cellular .jMmenu .title a:visited:active,
.cellular .jMmenu .title a:visited.active,
.cellular .jTabs .title a:hover,
.cellular .jTabs .title a:active,
.cellular .jTabs .title a.active,
.cellular .jTabs .title a:visited:hover,
.cellular .jTabs .title a:visited:active,
.cellular .jTabs .title a:visited.active {
  border: none;
  text-decoration: none;
}
/* line 69, ../sass/cellular-ui/_Cellular.scss */
.cellular .jAccordion .panel,
.cellular .jBlocklink .panel,
.cellular .jMmenu .panel,
.cellular .jTabs .panel {
  display: block;
  background: #fefefe;
  color: #444444;
  border: #bbbab7 1px solid;
  z-index: 1;
  padding-top: 1em;
  text-align: center;
}
/* line 79, ../sass/cellular-ui/_Cellular.scss */
.cellular .jAccordion .panel p,
.cellular .jAccordion .panel li,
.cellular .jBlocklink .panel p,
.cellular .jBlocklink .panel li,
.cellular .jMmenu .panel p,
.cellular .jMmenu .panel li,
.cellular .jTabs .panel p,
.cellular .jTabs .panel li {
  text-align: left;
}
/* line 85, ../sass/cellular-ui/_Cellular.scss */
.cellular .jAccordion .panel-content,
.cellular .jBlocklink .panel-content,
.cellular .jMmenu .panel-content,
.cellular .jTabs .panel-content {
  animation: fadein 400ms;
}
/* line 92, ../sass/cellular-ui/_Cellular.scss */
.cellular .jAccordion .active .title,
.cellular .jBlocklink .active .title,
.cellular .jMmenu .active .title,
.cellular .jTabs .active .title {
  background-color: #1c94b8;
}

/* Import UI components */
/**
  * @file
  * CellularUI : jAccordion
*/
/* line 8, ../sass/cellular-ui/_jAccordion.scss */
.jAccordion li {
  margin: 0 auto 1px;
}
/* line 12, ../sass/cellular-ui/_jAccordion.scss */
.jAccordion .title {
  border: #bbbab7 0.1em solid;
  border-bottom: none;
  transition: "background-color", 0.4s;
}

/**
  * @file
  * CellularUI : jCard
*/
/* line 5, ../sass/cellular-ui/_jCard.scss */
.jCard {
  padding: 0.2em 0.6em;
  border: 2px solid #bbbab7;
  transition: all 500ms ease-out;
}

/* line 10, ../sass/cellular-ui/_jCard.scss */
.jCard-wrap {
  display: inline-block;
  vertical-align: top;
  margin: 0.2em auto;
  padding: 0.2em;
  color: #444444;
  background: #fefefe;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 0.1em 0.1em #f1f1f1;
  transition: all 500ms ease-out;
}
/* line 24, ../sass/cellular-ui/_jCard.scss */
.jCard-wrap .title {
  margin: 0;
  padding: 0.3em;
  font-size: 0.9em;
  background-color: #444444;
  transition: all 500ms ease-out;
}
/* line 31, ../sass/cellular-ui/_jCard.scss */
.jCard-wrap .title a,
.jCard-wrap .title a:visited {
  color: #fefefe;
}
/* line 37, ../sass/cellular-ui/_jCard.scss */
.jCard-wrap a,
.jCard-wrap p,
.jCard-wrap li {
  color: #777777;
  text-decoration: none;
}
/* line 43, ../sass/cellular-ui/_jCard.scss */
.jCard-wrap li {
  padding: 0.2em 0.8em;
}
/* line 46, ../sass/cellular-ui/_jCard.scss */
.jCard-wrap.active,
.jCard-wrap:active,
.jCard-wrap:focus,
.jCard-wrap:hover {
  color: #1c94b8;
  text-decoration: none;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0.4em 1em 0.3em #bbbab7;
}
/* line 55, ../sass/cellular-ui/_jCard.scss */
.jCard-wrap.active .jCard,
.jCard-wrap:active .jCard,
.jCard-wrap:focus .jCard,
.jCard-wrap:hover .jCard {
  border: 2px solid #444444;
}
/* line 58, ../sass/cellular-ui/_jCard.scss */
.jCard-wrap.active .title,
.jCard-wrap:active .title,
.jCard-wrap:focus .title,
.jCard-wrap:hover .title {
  background-color: #1c94b8;
}
/* line 61, ../sass/cellular-ui/_jCard.scss */
.jCard-wrap.active .title a,
.jCard-wrap.active .title a:visited,
.jCard-wrap:active .title a,
.jCard-wrap:active .title a:visited,
.jCard-wrap:focus .title a,
.jCard-wrap:focus .title a:visited,
.jCard-wrap:hover .title a,
.jCard-wrap:hover .title a:visited {
  color: #fefefe;
}
/* line 66, ../sass/cellular-ui/_jCard.scss */
.jCard-wrap.active a,
.jCard-wrap.active p,
.jCard-wrap.active li,
.jCard-wrap:active a,
.jCard-wrap:active p,
.jCard-wrap:active li,
.jCard-wrap:focus a,
.jCard-wrap:focus p,
.jCard-wrap:focus li,
.jCard-wrap:hover a,
.jCard-wrap:hover p,
.jCard-wrap:hover li {
  color: #1c94b8;
  text-decoration: none;
}

/* line 4, ../sass/cellular-ui/_jModal.scss */
.jModal-overlay {
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #111;
  background: rgba(17, 17, 17, 0.7);
  opacity: 0;
}

/* line 15, ../sass/cellular-ui/_jModal.scss */
.jModal-window {
  position: fixed;
  top: 50%;
  right: 50%;
  padding: 1em;
  border-radius: 0.3em;
  background: #fefefe;
  transition: all 500ms ease-out;
}

/**
  * @file
  * CellularUI : jMMenu
*/
@media screen and (max-width: 650px) {
  /* line 8, ../sass/cellular-ui/_jMmenu.scss */
  #main-menu ul.menu {
    visibility: hidden;
  }
}
/* line 17, ../sass/cellular-ui/_jMmenu.scss */
.cellular .jMmenu-trigger {
  float: right;
  cursor: pointer;
  z-index: 10;
  top: 1em !important;
  width: 3em;
  height: 3em;
  padding: 0;
  background-color: #f9f9f9;
  background-size: 9em;
  background-repeat: no-repeat;
  background-position: left center;
  background-image: url("../assets/icons/png/menu.png");
  background-image: url("../assets/icons/svg/menu.svg");
  border: 2px solid #bbbab7;
  box-shadow: 0 0 0 0 #fefefe;
  will-change: background-position, box-shadow;
  border-radius: 0.4em;
  transition: all 500ms ease-out;
}
/* line 37, ../sass/cellular-ui/_jMmenu.scss */
.cellular .jMmenu-trigger:hover {
  box-shadow: 0 0 0.2em 0.1em #29b4de;
}
/* line 40, ../sass/cellular-ui/_jMmenu.scss */
.cellular .jMmenu-trigger.active {
  background-position: right center;
}
/* line 43, ../sass/cellular-ui/_jMmenu.scss */
.cellular .jMmenu-trigger.active:hover {
  box-shadow: 0 0 0.2em 0.1em #8c0d00;
}
/* line 48, ../sass/cellular-ui/_jMmenu.scss */
.cellular .jMmenu-triggertext {
  font-family: "Quicksand";
  color: #bbbab7;
  position: absolute;
  bottom: -1.4em;
  left: 0;
  right: 0;
  line-height: 1em;
  font-size: 0.8em;
  text-align: center;
}
/* line 60, ../sass/cellular-ui/_jMmenu.scss */
.cellular .jMmenu-menu {
  position: fixed;
  top: 96px;
  z-index: 999;
  margin: 0;
  overflow: hidden;
  background-color: rgba(254, 254, 254, 0.7);
  transform: translate3d(0, 0, 0);
  transition: all 500ms ease-out;
}
/* line 71, ../sass/cellular-ui/_jMmenu.scss */
.cellular .jMmenu-menu li {
  display: block;
  margin: 0.2em auto;
  list-style: none;
  max-width: none;
}
/* line 77, ../sass/cellular-ui/_jMmenu.scss */
.cellular .jMmenu-menu li.parent a {
  cursor: pointer;
}
/* line 80, ../sass/cellular-ui/_jMmenu.scss */
.cellular .jMmenu-menu li.parent:after {
  position: absolute;
  top: 1em;
  right: 0.2em;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 0.6em solid #444444;
  transition: all 500ms ease-out;
}
/* line 90, ../sass/cellular-ui/_jMmenu.scss */
.cellular .jMmenu-menu li.parent.active:after,
.cellular .jMmenu-menu li.parent:hover:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: 0.6em solid #29b4de;
  transform: rotateY(180deg);
}
/* line 100, ../sass/cellular-ui/_jMmenu.scss */
.cellular .jMmenu-menu .child {
  z-index: 1;
  border-left: #bbbab7 1px solid;
}
/* line 103, ../sass/cellular-ui/_jMmenu.scss */
.cellular .jMmenu-menu .child li {
  overflow: hidden;
  max-height: 0;
  border: #f1f1f1 1px solid;
  border-radius: 0.8em;
  transition: max-height 0.25s;
}
/* line 111, ../sass/cellular-ui/_jMmenu.scss */
.cellular .jMmenu-menu .child.active > li {
  max-height: 32em;
  transition: max-height 0.5s ease-in;
}
/* line 118, ../sass/cellular-ui/_jMmenu.scss */
.cellular .jMmenu-menu a,
.cellular .jMmenu-menu a:visited {
  display: block;
  height: 1em;
  padding: 0.6em 1em 0.8em;
  text-decoration: none;
  font-size: 0.9em;
  font-family: "Quicksand";
  font-weight: bold;
  background-image: none;
  border-bottom: 1px solid;
  color: #444444;
  background-color: #fefefe;
  box-shadow: 0 0 0.3em #bbbab7;
}
/* line 133, ../sass/cellular-ui/_jMmenu.scss */
.cellular .jMmenu-menu a:active,
.cellular .jMmenu-menu a:focus,
.cellular .jMmenu-menu a:hover {
  color: #29b4de;
  background-color: #fefefe;
}
/* line 140, ../sass/cellular-ui/_jMmenu.scss */
.cellular .jMmenu-menu .active > a {
  color: #29b4de;
  background-color: #fefefe;
}
/* line 144, ../sass/cellular-ui/_jMmenu.scss */
.cellular .jMmenu-menu ul {
  margin: 0 0 0 0.8em;
}
/* line 156, ../sass/cellular-ui/_jMmenu.scss */
.cellular.slide-down .jMmenu-menu {
  width: 100%;
  height: 0;
  left: 0;
  right: 0;
  bottom: 96px;
}
/* line 162, ../sass/cellular-ui/_jMmenu.scss */
.cellular.slide-down .jMmenu-menu.active {
  bottom: 0;
  height: 100%;
}
/* line 173, ../sass/cellular-ui/_jMmenu.scss */
.cellular.push-left .jMmenu-menu,
.cellular.push-right .jMmenu-menu,
.cellular.slide-left .jMmenu-menu,
.cellular.slide-right .jMmenu-menu {
  bottom: 0;
  width: 0;
  max-width: 0;
}
/* line 177, ../sass/cellular-ui/_jMmenu.scss */
.cellular.push-left .jMmenu-menu.active,
.cellular.push-right .jMmenu-menu.active,
.cellular.slide-left .jMmenu-menu.active,
.cellular.slide-right .jMmenu-menu.active {
  width: 100%;
  max-width: 50%;
}
/* line 186, ../sass/cellular-ui/_jMmenu.scss */
.cellular.push-left .jMmenu-menu,
.cellular.slide-left .jMmenu-menu {
  left: 0;
}
/* line 193, ../sass/cellular-ui/_jMmenu.scss */
.cellular.push-right .jMmenu-menu,
.cellular.slide-right .jMmenu-menu {
  right: 0;
}
/* line 202, ../sass/cellular-ui/_jMmenu.scss */
.cellular.jMmenu-active.push-left #content,
.cellular.jMmenu-active.push-right #content {
  width: 50%;
}
/* line 207, ../sass/cellular-ui/_jMmenu.scss */
.cellular.jMmenu-active.push-down #content {
  width: 50%;
}

/**
  * @file
  * CellularUI : jScrolli
*/
/* line 14, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli {
  height: 240px;
  opacity: 0;
  transition: all 500ms ease-out;
}

/* line 20, ../sass/cellular-ui/_jScrolli.scss */
.cellular.jScrolli {
  opacity: 1;
}

/* line 24, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-wrap {
  overflow: hidden;
  background-color: #fefefe;
  border: #bbbab7 1px solid;
  /* Styles applied while .slide is transitioning */
}
/* line 29, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-wrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
/* line 36, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-wrap li {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
/* line 46, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-wrap.active .jScrolli-control {
  opacity: 1;
}
/* line 60, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-wrap.transition .jScrolli-caption p {
  opacity: 0;
}

/* line 67, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 100%;
  right: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.6s linear;
  /* Slide content */
}
/* line 77, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-slide.previous {
  left: -100%;
  right: -100%;
}
/* line 82, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-slide.next {
  left: 100%;
  right: 100%;
}
/* line 87, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-slide.active {
  left: 0;
  right: 0;
  opacity: 1;
}
/* line 92, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-slide.active .jScrolli-slide-content {
  opacity: 1;
}
/* line 98, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-slide .jScrolli-slide-content {
  z-index: 1;
  text-align: center;
  opacity: 0;
  transition: all 1s linear;
}
/* line 106, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-slide .title a,
.jScrolli-slide .title a:visited {
  font-weight: bold;
  color: #444444;
  text-shadow: -2px 0 #fefefe, 0px 0 #fefefe, -1px 1px 0 #fefefe, 1px 1px 0 #fefefe;
}
/* line 112, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-slide .title a:active,
.jScrolli-slide .title a:hover,
.jScrolli-slide .title a:focus {
  color: #444444;
  text-shadow: -4px 0 #29b4de, 0px 0 #29b4de, -2px 2px 0 #29b4de, 2px 2px 0 #29b4de;
}
/* line 120, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-slide p {
  background: rgba(254, 254, 254, 0.9);
  padding: 0.8em;
}

/* line 126, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-background {
  background-size: 100% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/* line 132, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-caption {
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 0 2em;
  background-color: #111;
  background-color: rgba(17, 17, 17, 0.8);
  transition: all 1s linear;
}
/* line 144, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-caption p {
  max-width: none;
  margin: 0;
  padding: 0.8em;
  color: #fefefe;
  opacity: 1;
  transition: all 1s linear;
}

/* line 154, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-control {
  z-index: 3;
  cursor: pointer;
  position: absolute;
  opacity: 0.2;
  text-indent: -999em;
  width: 2em;
  height: 2em;
  color: #fefefe;
  background-repeat: no-repeat;
  background-image: url(../assets/icons/png/controls.png);
  background-image: url(../assets/icons/svg/controls.svg);
  background-color: #bbbab7;
  transition: all 500ms ease-out;
}
/* line 170, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-control.prev,
.jScrolli-control.next {
  top: 50%;
  background-color: #444444;
}
/* line 175, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-control.prev:hover,
.jScrolli-control.prev:focus,
.jScrolli-control.next:hover,
.jScrolli-control.next:focus {
  background-color: #29b4de;
}
/* line 181, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-control.prev {
  left: 0;
  background-position: -24px 8px;
}
/* line 186, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-control.next {
  right: 0;
  background-position: -88px 8px;
}
/* line 191, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-control.play,
.jScrolli-control.pause {
  top: 0;
  left: 0;
  background-color: #111;
  border: #fefefe 2px solid;
  border-radius: 50%;
  opacity: 0;
  transition: none;
}
/* line 202, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-control.play {
  background-position: 8px 8px;
}
/* line 205, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-control.pause {
  background-position: -54px 8px;
}

/* line 210, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-markers {
  z-index: 1;
  float: left;
  position: relative;
  left: 50%;
  /*
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 0.75em; // jScrolli-wrap padding-bottom - .marker height /2
  */
}
/* line 223, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-markers li {
  position: relative;
  float: left;
  left: -50%;
  margin: 0.25em 0.5em;
}

/* line 231, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-marker {
  cursor: pointer;
  text-indent: -999em;
  width: 0.5em;
  height: 0.5em;
  border: #444444 1px solid;
  border-radius: 50%;
  background-color: #bbbab7;
  transition: all 500ms ease-out;
}
/* line 243, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-marker.active {
  border-color: #16708b;
  background-color: #29b4de;
  box-shadow: 0 0 0.5em 0 #29b4de;
}
/* line 249, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-marker:hover,
.jScrolli-marker:focus {
  border-color: #29b4de;
}
/* line 254, ../sass/cellular-ui/_jScrolli.scss */
.jScrolli-marker a {
  text-indent: -999em;
}

/**
  * @file
  * CellularUI : jTabs
*/
/* line 7, ../sass/cellular-ui/_jSocial.scss */
.jSocial {
  z-index: 1;
  display: block;
  margin: 1em 0 0 0;
  padding: 1em;
  background-color: #fefefe;
  border-radius: 0.4em;
  box-shadow: 0 0 0.3em #bbbab7;
}
/* line 16, ../sass/cellular-ui/_jSocial.scss */
.jSocial .title {
  font-size: 1em;
  margin: 0;
  padding: 0;
}
/* line 22, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon {
  width: 1.4em;
  height: 1.4em;
  margin: 0.28em;
  padding: 0.28em;
  border: 1px solid #bbbab7;
  border-radius: 50%;
  background-size: 1.4em;
  background-color: #f1f1f1;
  background-position: center center;
  text-indent: -999em;
}
/* line 34, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon:hover {
  background-color: #fefefe;
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.behance {
  background-image: url("../assets/icons/png/behance.png");
  background-image: url("../assets/icons/svg/behance.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.blogger {
  background-image: url("../assets/icons/png/blogger.png");
  background-image: url("../assets/icons/svg/blogger.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.delicious {
  background-image: url("../assets/icons/png/delicious.png");
  background-image: url("../assets/icons/svg/delicious.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.deviantart {
  background-image: url("../assets/icons/png/deviantart.png");
  background-image: url("../assets/icons/svg/deviantart.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.digg {
  background-image: url("../assets/icons/png/digg.png");
  background-image: url("../assets/icons/svg/digg.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.facebook {
  background-image: url("../assets/icons/png/facebook.png");
  background-image: url("../assets/icons/svg/facebook.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.flickr {
  background-image: url("../assets/icons/png/flickr.png");
  background-image: url("../assets/icons/svg/flickr.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.github-octo {
  background-image: url("../assets/icons/png/github-octo.png");
  background-image: url("../assets/icons/svg/github-octo.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.google {
  background-image: url("../assets/icons/png/google.png");
  background-image: url("../assets/icons/svg/google.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.grooveshark {
  background-image: url("../assets/icons/png/grooveshark.png");
  background-image: url("../assets/icons/svg/grooveshark.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.hi5 {
  background-image: url("../assets/icons/png/hi5.png");
  background-image: url("../assets/icons/svg/hi5.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.linkedin {
  background-image: url("../assets/icons/png/linkedin.png");
  background-image: url("../assets/icons/svg/linkedin.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.myspace {
  background-image: url("../assets/icons/png/myspace.png");
  background-image: url("../assets/icons/svg/myspace.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.pinterest {
  background-image: url("../assets/icons/png/pinterest.png");
  background-image: url("../assets/icons/svg/pinterest.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.reddit {
  background-image: url("../assets/icons/png/reddit.png");
  background-image: url("../assets/icons/svg/reddit.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.rss {
  background-image: url("../assets/icons/png/rss.png");
  background-image: url("../assets/icons/svg/rss.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.skype {
  background-image: url("../assets/icons/png/skype.png");
  background-image: url("../assets/icons/svg/skype.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.slashdot {
  background-image: url("../assets/icons/png/slashdot.png");
  background-image: url("../assets/icons/svg/slashdot.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.soundcloud {
  background-image: url("../assets/icons/png/soundcloud.png");
  background-image: url("../assets/icons/svg/soundcloud.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.stackoverflow {
  background-image: url("../assets/icons/png/stackoverflow.png");
  background-image: url("../assets/icons/svg/stackoverflow.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.stumbleupon {
  background-image: url("../assets/icons/png/stumbleupon.png");
  background-image: url("../assets/icons/svg/stumbleupon.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.technorati {
  background-image: url("../assets/icons/png/technorati.png");
  background-image: url("../assets/icons/svg/technorati.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.tumblr {
  background-image: url("../assets/icons/png/tumblr.png");
  background-image: url("../assets/icons/svg/tumblr.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.twitter {
  background-image: url("../assets/icons/png/twitter.png");
  background-image: url("../assets/icons/svg/twitter.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.twitter-t {
  background-image: url("../assets/icons/png/twitter-t.png");
  background-image: url("../assets/icons/svg/twitter-t.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.yelp {
  background-image: url("../assets/icons/png/yelp.png");
  background-image: url("../assets/icons/svg/yelp.svg");
}
/* line 40, ../sass/cellular-ui/_jSocial.scss */
.jSocial .icon.youtube {
  background-image: url("../assets/icons/png/youtube.png");
  background-image: url("../assets/icons/svg/youtube.svg");
}
/* line 48, ../sass/cellular-ui/_jSocial.scss */
.jSocial.horizontal,
.jSocial.vertical {
  z-index: 10;
  position: fixed;
  margin: 0;
}
/* line 54, ../sass/cellular-ui/_jSocial.scss */
.jSocial.horizontal .icon,
.jSocial.vertical .icon {
  border-radius: 0;
}

/* line 61, ../sass/cellular-ui/_jSocial.scss */
.jSocial.horizontal {
  bottom: 0;
  left: 0;
  padding: 0 1em;
}
/* line 66, ../sass/cellular-ui/_jSocial.scss */
.jSocial.horizontal h3 {
  display: inline;
}

/* line 72, ../sass/cellular-ui/_jSocial.scss */
.jSocial.vertical {
  top: 96px;
  right: 0;
  width: 2.1em;
  padding: 1.4em 0.28em;
}
/* line 78, ../sass/cellular-ui/_jSocial.scss */
.jSocial.vertical .title {
  position: absolute;
  left: -999em;
}
/* line 82, ../sass/cellular-ui/_jSocial.scss */
.jSocial.vertical .icon {
  margin: auto;
}

/**
  * @file
  * CellularUI : jTabs
*/
/* line 6, ../sass/cellular-ui/_jTabs.scss */
.jTabs-wrap {
  display: block;
  clear: both;
  margin: auto;
  padding: 0;
  width: 90%;
}
/* line 13, ../sass/cellular-ui/_jTabs.scss */
.jTabs-wrap .panel {
  clear: both;
  z-index: 1;
  padding: 1.4em 1em 1em;
  bottom: 1px;
  background: #fefefe;
  color: #444444;
  border: #bbbab7 1px solid;
}
/* line 23, ../sass/cellular-ui/_jTabs.scss */
.jTabs-wrap > ul {
  margin: 0;
  padding: 0;
}
/* line 28, ../sass/cellular-ui/_jTabs.scss */
.jTabs-wrap .tab {
  float: left;
  margin: 0 0 0 0.1em;
  z-index: 2;
}
/* line 33, ../sass/cellular-ui/_jTabs.scss */
.jTabs-wrap .tab:first-child {
  margin-left: 0;
}
/* line 37, ../sass/cellular-ui/_jTabs.scss */
.jTabs-wrap .tab .title {
  padding: .4em .6em;
  border: #bbbab7 1px solid;
}
/* line 42, ../sass/cellular-ui/_jTabs.scss */
.jTabs-wrap .tab.active {
  background-color: #fefefe;
  color: #444444;
}
/* line 46, ../sass/cellular-ui/_jTabs.scss */
.jTabs-wrap .tab.active .title {
  color: #444444;
  background: #fefefe;
  border-bottom-color: #fefefe;
}
/* line 51, ../sass/cellular-ui/_jTabs.scss */
.jTabs-wrap .tab.active .title a {
  color: #444444;
}
/* line 61, ../sass/cellular-ui/_jTabs.scss */
.jTabs-wrap.vertical > ul {
  float: left;
  width: 25%;
}
/* line 67, ../sass/cellular-ui/_jTabs.scss */
.jTabs-wrap.vertical .panel {
  display: inline;
  display: inline-block;
  clear: none;
  bottom: 0;
  right: 1px;
}
/* line 75, ../sass/cellular-ui/_jTabs.scss */
.jTabs-wrap.vertical .tab {
  display: block;
  float: none;
  margin: .1em 0;
}
/* line 80, ../sass/cellular-ui/_jTabs.scss */
.jTabs-wrap.vertical .tab:first-child {
  margin-top: 0;
}
/* line 84, ../sass/cellular-ui/_jTabs.scss */
.jTabs-wrap.vertical .tab .title {
  padding: .4em 1%;
}
/* line 87, ../sass/cellular-ui/_jTabs.scss */
.jTabs-wrap.vertical .tab .title a {
  padding: 0 1em;
}
/* line 95, ../sass/cellular-ui/_jTabs.scss */
.jTabs-wrap.vertical .tab.active .title {
  border-right-color: #fefefe;
  border-bottom-color: #444444;
}

/**
  * @file
  * CellularUI : jTooltip
*/
/* line 6, ../sass/cellular-ui/_jTooltip.scss */
.jTooltip-trigger {
  z-index: 1;
}

/* line 9, ../sass/cellular-ui/_jTooltip.scss */
.jTooltip-btn {
  display: inline;
  display: inline-block;
  vertical-align: middle;
  cursor: cell;
  width: 2em;
  height: 2em;
  border: 1px solid #bbbab7;
  border-radius: 50%;
  background-color: #f1f1f1;
  color: #fefefe;
}

/* line 21, ../sass/cellular-ui/_jTooltip.scss */
.jTooltip-tooltip {
  z-index: -1;
  position: fixed;
  display: block;
  background-color: rgba(17, 17, 17, 0.9);
  color: #fefefe;
  height: 0;
  max-height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  border-radius: 0.3em;
  border-top-left-radius: 0;
  transition: all 500ms ease-out;
}
/* line 35, ../sass/cellular-ui/_jTooltip.scss */
.jTooltip-tooltip:after {
  z-index: -1;
  opacity: 0;
  top: 0;
  left: -1em;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-right: 1em solid rgba(17, 17, 17, 0.9);
}
/* line 42, ../sass/cellular-ui/_jTooltip.scss */
.jTooltip-tooltip.active {
  z-index: 10;
  opacity: 1;
  height: auto;
  max-height: 32em;
  padding: 0.4em 0.8em;
}
/* line 48, ../sass/cellular-ui/_jTooltip.scss */
.jTooltip-tooltip.active:after {
  opacity: 1;
}

/* line 4, ../sass/cellular-ui/_jZoom.scss */
.jZoom-wrap {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

/* line 9, ../sass/cellular-ui/_jZoom.scss */
.jZoom-trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 1em;
  height: 1em;
  text-indent: -999em;
  background: #8c0d00;
}

/* line 18, ../sass/cellular-ui/_jZoom.scss */
.jZoom-window {
  position: absolute;
  top: 2em;
  left: 2em;
}

/**
  * @file
  * CellularUI : window scrolled styling
*/
/* line 7, ../sass/cellular-ui/_scrolled.scss */
.scrolled #header {
  height: 48px;
  overflow: hidden;
  transition: all 300ms;
}
/* line 12, ../sass/cellular-ui/_scrolled.scss */
.scrolled #header .logo {
  padding: 0;
}
/* line 14, ../sass/cellular-ui/_scrolled.scss */
.scrolled #header .logo a {
  width: 48px;
  height: 48px;
  msrgin: 0;
  padding: 0;
  background-size: 48px;
}
/* line 23, ../sass/cellular-ui/_scrolled.scss */
.scrolled #main-menu {
  top: 0;
}
/* line 26, ../sass/cellular-ui/_scrolled.scss */
.scrolled .jMmenu-trigger {
  top: 4.8px !important;
  width: 38.4px;
  height: 38.4px;
  background-size: 115.2px;
  border: 1px solid #bbbab7;
}
/* line 36, ../sass/cellular-ui/_scrolled.scss */
.scrolled.jMmenu-active .jMmenu-menu,
.scrolled.jMmenu-inactive .jMmenu-menu {
  top: 48px;
}

/**
  * @file
  * Typographic style classes
*/
/* line 5, ../sass/style/_style_typography.scss */
.big {
  font-size: 1.4em;
}

/* line 8, ../sass/style/_style_typography.scss */
.small {
  font-size: 0.75em;
}

/* line 11, ../sass/style/_style_typography.scss */
.tiny {
  font-size: 0.3em;
}

/* line 14, ../sass/style/_style_typography.scss */
.text-left {
  text-align: left;
}

/* line 17, ../sass/style/_style_typography.scss */
.text-right {
  text-align: right;
}

/* line 20, ../sass/style/_style_typography.scss */
.text-center {
  text-align: center;
}

/**
  * @file
  * Misc. class styles
*/
/* line 6, ../sass/style/_style_decor.scss */
.dropCap:first-letter {
  font-size: 1.3em;
  font-weight: bold;
}

/* line 11, ../sass/style/_style_decor.scss */
.textShadow {
  text-shadow: 1px 1px 3px #444444;
}

/* line 16, ../sass/style/_style_decor.scss */
.box-shadow {
  margin: 0 auto;
  padding: 3em 1.4em;
  background-color: #fefefe;
  box-shadow: inset 0 0 0.3em 0 #f1f1f1;
}
/* line 23, ../sass/style/_style_decor.scss */
.box-shadow:before,
.box-shadow:after {
  position: absolute;
  width: 40%;
  height: 1em;
  content: ' ';
  left: 1.2em;
  bottom: .8em;
  background: transparent;
  transform: skew(-5deg) rotate(-5deg);
  box-shadow: 0 6px 12px rgba(241, 241, 241, 0.3);
  z-index: -1;
}
/* line 36, ../sass/style/_style_decor.scss */
.box-shadow:after {
  left: auto;
  right: 12px;
  transform: skew(5deg) rotate(5deg);
}

/* line 45, ../sass/style/_style_decor.scss */
.ribbon {
  position: relative;
  margin: 0 auto 1em;
  padding: 0 1.2em;
  border-bottom: black 1px solid;
  background-color: #111;
  color: #fefefe;
}
/* line 335, ../sass/_mixins/_cellularmixins.scss */
.ribbon:after,
.ribbon:before {
  content: " ";
  position: absolute;
  bottom: -1em;
  border-top: black 1em solid;
}
/* line 342, ../sass/_mixins/_cellularmixins.scss */
.ribbon:before {
  left: 0;
  border-left: 1.2em solid transparent;
}
/* line 346, ../sass/_mixins/_cellularmixins.scss */
.ribbon:after {
  right: 0;
  border-right: 1.2em solid transparent;
}

/* line 50, ../sass/style/_style_decor.scss */
.popout {
  position: relative;
  margin: 0 0 1em;
  padding: 0 1.2em;
  background: #111;
  border-bottom: black 1px solid;
  color: #fefefe;
}
/* line 357, ../sass/_mixins/_cellularmixins.scss */
.popout:after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1em;
  height: 0;
  border-top: 1em solid black;
  border-left: 1.2em solid transparent;
  border-right: 1.2em solid transparent;
}

/**
  * @file
  * Logo link style
*/
/* line 6, ../sass/style/_style_logo.scss */
.logo {
  z-index: 9;
  float: left;
  padding: 12px;
  transition: all 300ms;
}
/* line 13, ../sass/style/_style_logo.scss */
.logo a {
  display: block;
  text-indent: -999em;
  width: 72px;
  height: 72px;
  background-image: url("../assets/images/png/logo.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  transition: width,height,padding,box-shadow 300ms ease-in-out;
  box-shadow: 0 0 0 0 #fefefe;
}
/* line 27, ../sass/style/_style_logo.scss */
.logo a:hover {
  box-shadow: 0 0 0.4em 0 #29b4de;
}

/**
  * @file
  * Pseudo element to pass the media size to javascript.
  * @see https://www.lullabot.com/blog/article/importing-css-breakpoints-javascript
*/
/* line 7, ../sass/style/_query_default.scss */
body:before {
  content: "window_default-960px";
  display: none;
}

/**
  * @file
  * Styling for mobile devices included in style.css
*/
@media screen and (max-width: 650px) {
  /* line 8, ../sass/style/_query_mobile.scss */
  body:before {
    content: "window_mobile-650px";
  }
}
/**
  * @file
  * Styling for tablets & other narrow devices included in style.css
*/
@media screen and (min-width: 650px) and (max-width: 800px) {
  /* line 9, ../sass/style/_query_narrow.scss */
  body:before {
    content: "window_narrow-800px";
  }
}
/**
  * @file
  * Styling for large-screen devices included in style.css
*/
@media screen and (min-width: 1280px) {
  /* line 8, ../sass/style/_query_large.scss */
  body:before {
    content: "window_large-1280px";
  }
}
